.title-container {
    max-width: 800px;
    /* top | right | bottom | left */
    margin: 0 auto 5% auto;
  }

.title {
  margin-bottom: 5%;
}

.subtitle {
  font-size: calc(10px + 2vmin);
}

.selection-container {
  max-width: 800px;
  /* top | right | bottom | left */
  margin: 0 auto 5% auto;
}

.selection-text {
  font-size: calc(10px + 2vmin);
  font-weight: 700;
}

.selection-all-button-container{
  margin-top: 5%;
  display: flex;
}

.selection-button-container{
  margin: 8px 16px;
  flex: 1;
}

.selection-button {
  font-size: calc(10px + 2vmin);;
  color: var(--text-color-off-white);
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 14px 25px;
  background-color: var(--text-primary-blue);
  border-radius: 8px;
  box-shadow: -10px 10px var(--box-shadow-primary-grey);
}

.selection-button:hover{
  background-color: var(--text-secondary-blue);
  box-shadow: -10px 10px var(--box-shadow-secondary-grey);
}

.line-chart-container{
  width: 75%;
}

@media screen and (max-width: 768px) {
  .selection-all-button-container {
    display: block;
    align-items: center;
  }
  .selection-button-container {
    width: 50%;
    margin: 5% auto;
  }
  .line-chart-container{
    width: 100%;
  }
}