
.footer {
    min-height: 20vh;
    margin-top: 5%;
}
  
.Footer-rights {
  color: var(--text-color-off-white);
}

.Social-icons {
  margin-bottom: 8px;
}

.Social-icons img {
  width: 32px;
  height: 32px;

  filter: invert(100%);
  margin-right: 3px;
  margin-left: 3px;
}

.footer-logo-container{
  margin: 8px;
}

.footer-logo{
  max-width: 42px;
}