html {
  --background-dark-grey: #0b0f1b;
  --border-primary-grey: #2b323c;
  --text-color-off-white: #e8ebee;
  --text-primary-blue: #72a8f5;
  --text-secondary-blue: #9cc2f8;
  --box-shadow-primary-grey: #192c47;
  --box-shadow-secondary-grey: #213e67;
  background-color: var(--background-dark-grey);
}

.App {
  font-family: Poppins,Arial,Helvetica,sans-serif,Russo One;
  text-align: center;
  max-width: 1200px;
  margin: auto; 
}

.App-logo {
  height: 20vmin;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}

.App-logo-text {
  width: 200px;
  margin-top: 35px;
  pointer-events: none;
  user-select: none;
}

.App-header {
  min-height: 80vh;
  font-size: calc(10px + 4vmin);
  color: var(--text-color-off-white);
  margin: 0 2.5%;
}

.Header-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: var(--text-primary-blue);
}

.App-link:hover {
  color: var(--text-secondary-blue);
}