html {
  --background-dark-grey: #000f0f;
  --border-primary-grey: #0b3433;
  --text-color-off-white: #ddf4f3;
  --text-primary-green: #44b2af;
  --text-secondary-green: #7fd2d0;
  --box-shadow-primary-green: #1f7a78;
  --box-shadow-secondary-green: #2d8685;
  background-color: var(--background-dark-grey);
}

.App {
  font-family: Poppins, Arial, Helvetica, sans-serif, Russo One;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

.App-logo {
  height: 20vmin;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}

.App-logo-text {
  width: 200px;
  margin-top: 35px;
  pointer-events: none;
  user-select: none;
}

.App-header {
  min-height: 80vh;
  font-size: calc(10px + 4vmin);
  color: var(--text-color-off-white);
  margin: 0 2.5%;
}

.Header-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: var(--text-primary-green);
}

.App-link:hover {
  color: var(--text-secondary-green);
}
